{% extends 'base.html' %}

{% block content %}
<div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../../static/images/profile-5.png" class="d-block img-fluid" alt="Parker Sipes Site Home Page" width="2651" height="3205" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">C. Parker Sipes</h1>
        <p class="lead">"Believer, husband, proud father, and the guy who asks 'but how does it work?'
            far too often. I blend technical know-how with a love for physics, philosophy, business and a
            good challenge. Passionate about mentoring and seeing others succeed,
            I’m here to tackle big ideas with curiosity and a healthy dose of humility."
        </p>
        <div class="mt-4 d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">About</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Portfolio</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Blog</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}