{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Edit{% else %}New{% endif %} Post{% endblock %}

{% block content %}
<div class="section">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% if form.instance.pk %}Edit{% else %}Create New{% endif %} Blog Post
                    </span>
                    <form method="post" enctype="multipart/form-data" class="col s12">
                        {% csrf_token %}
                        {{ form.media }}  <!-- Add this line for CKEditor -->
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.title }}
                                <label for="{{ form.title.id_for_label }}">Title</label>
                                {% if form.title.errors %}
                                    <span class="red-text">{{ form.title.errors }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.excerpt }}
                                <label for="{{ form.excerpt.id_for_label }}">Excerpt</label>
                                {% if form.excerpt.errors %}
                                    <span class="red-text">{{ form.excerpt.errors }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>Content</label>
                                {{ form.content }}
                                {% if form.content.errors %}
                                    <span class="red-text">{{ form.content.errors }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="file-field input-field col s12">
                                <div class="btn">
                                    <span>Featured Image</span>
                                    {{ form.featured_image }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                                {% if form.featured_image.errors %}
                                    <span class="red-text">{{ form.featured_image.errors }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light teal" type="submit">
                                    Publish Post
                                    <i class="material-icons right">send</i>
                                </button>
                                <a href="{% url 'blog:post_list' %}" class="btn waves-effect waves-light grey">
                                    Cancel
                                    <i class="material-icons right">cancel</i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}