{% extends 'base.html' %}

{% block content %}
<div class="section">
    <div class="row">
        <div class="col s12">
            <div class="card">
                {% if post.featured_image %}
                    <div class="card-image">
                        <img id="blog-detail-img" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    </div>
                {% endif %}
                <div class="card-content">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="grey-text">
                        Posted by {{ post.author }} on {{ post.created_date|date:"F d, Y" }}
                    </p>

                    <div class="blog-content">
                    {{ post.content|safe }}
                    </div>
                </div>
                {% if user.is_authenticated and user == post.author %}
                <div class="card-action">
                    <a href="{% url 'blog:post_update' post.slug %}" class="btn waves-effect waves-light amber">
                    Edit
                    <i class="material-icons right">edit</i>
                    </a>
                    <a href="{% url 'blog:post_delete' post.slug %}" class="btn waves-effect waves-light red">
                    Delete
                    <i class="material-icons right">delete</i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}